:local(.Popup){
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index:100;
    font-family: roboto;
}

:local(.Inner_popup){
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    align-items: center;
}
:local(.Title){
    text-align: center;
}
:local(.ButtonsContainer){
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
:local(.Button){
    margin-top: 10px;
	box-shadow: 0px 3px 13px 0px #12192e;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	display:block;
	border-radius:28px;
	border:1px solid #43599c;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:15px;
	padding:16px 31px;
	text-shadow:2px 0px 34px #283966;
}
:local(.Button:hover){
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}
:local(.Button:active){
    position:relative;
	top:1px;
}
:local(.FormContainer){
    align-items: center;
    text-align: center;
}
