:local(.SearchContainer){
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
:local(.SearchInput){
    border: 1px solid #ccc;  
    width: 200px;
    /* animation on focus */
    transition: width 1s ease-in-out;
    /* search icon */
    background-image: url('./searchicon.png');
    background-repeat: no-repeat;
    padding-left: 20px;  
    border-radius: 4px;
    height:20px;
}
:local(.SearchInput:focus){
    width: 70%;
}